        *{
          margin: 0;
          padding: 0;
          
        }

        

.firstdiv{
  /* margin: 0 200px; */
  /* padding-top: 65px; */
  
}
.uldiv{
  padding-top: 40px;
}
.box{
  
  width: 550px;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  /* Shadow */
  box-shadow: 3px 3px 30px 3px rgba(104, 101, 101, 0.911);
 
}
.box h2{
  
  color:#7c7979;
  text-align: center;
  width: 550px;
  padding-top: 22px;
  border-bottom: 0.5px gray;
  padding-bottom: 22px;
  /* height: 100px; */
  background: #f6f6f6;
  /* padding: 10px 20px; */
  font-size: 25px;
  font-weight: 700;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.box ul{
 
  position: relative;
  background: #fff;
  height: 400px;
  
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom: 1px solid gray;
  
}
.box ul li{
  border-bottom: 1px solid rgba(128, 128, 128, 0.945) ;
  list-style: none;
  font-size: 20px;
  padding-top: 7px;
  padding-bottom: 10px;
  width: 100%;
  color: #555555;
  background: #fff;
  text-decoration:none ;
  
  
}
ul{
  height: 300px;
  overflow-y: scroll;
  overflow-x:hidden ;
}
.spanclass{
  margin-left: 10px;
  margin-right: 20px;
  font-size: 40px;
}
.liclass{
  font-size: 25px;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(201, 194, 194); 
  
 
}
.liimg{
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: -7px;
  
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* 
Second page */